[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
isort = {extras = ["pipfile"],version = "*"}
autopep8 = "*"
ipython = "*"
pytest-datadir = "*"

[packages]

[requires]
python_version = "3.6"
