[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
isort = {extras = ["pipfile"],version = "*"}
autopep8 = "*"
ipython = "*"
pytest-datadir = "*"
pytest-cov = "*"

[packages]
spacy = "*"

[requires]
python_version = "3.8"

[scripts]
isort = "isort . -c"
test = "pytest tests --cov=doccano_transformer --cov-report=term-missing -vv"
flake8 = "flake8 doccano_transformer --ignore=F401,E741"
